
body
{
	overflow-x :hidden;
	padding: 0;
	margin: 0;
	background-color: #2F4F4F;
}	

footer
{
	background-color: #d5eeff;
	height: 15vh;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
 	 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%)	
}

header
{
	background-color: #d5eeff;
  	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
 	 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%)	
}

	.container
	{
		width: 80%;
		overflow: hidden;
		margin: auto;

	}

	.landing-page
	{
		height: 110vh;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "about logo"; 
	}

	.about-me
	{
		grid-area = about;
		text-align: center;
		padding-top: 30%;
		padding-left: 10%;
	}

	.about-me p
	{
		width: 50%;
		margin: auto;
	}

	.about-me .name
	{
		font-size: 3em;
		margin-bottom: 2%;
	}

	.home-logo
	{
		grid-area = logo;
		padding-top: 30%;
		padding-left: 10%;
	}


/*asdasdasd*/
	#latest-works
	{
		color:white;
	}

	#game-projects
	{
		padding-top: 10%;
	}

	#other-projects
	{
	}

	.project-box-left
	{
		padding-bottom: 10%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "thumbnail info";
	}

	.project-box-left .project-thumbnail
	{
		grid-area: thumbnail;
		padding-left: 20%;
	}

	.project-box-left .project-info
	{
		grid-area: info;
		padding-top: 5%;
	}


	.project-box-right
	{
		padding-bottom: 10%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "infoR thumbnailR";
	}
	.project-box-right .project-thumbnail
	{
		grid-area: thumbnailR;
	}

	.project-box-right .project-info
	{
		grid-area: infoR;
		padding-top: 5%;
		padding-left: 25%;
		text-align: left;
	}
	
/*SKILLS */
	#skills
	{
		color: white;
		margin-bottom: 10%;
	}

	.skill-boxes
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "box1 box2 box3";
	}

	.skill-box1
	{
		grid-area = box1;

	}

	.skill-box2
	{
		grid-area = box2;

	}

	.skill-box3
	{
		grid-area = box3;

	}

	.skill-list
	{
		margin-left: 20%;
	}

	.skill-title
	{
		font-size: 18pt;
		text-align: center;
	}

	.skill-sub-title
	{
		padding-top: 5%;
		font-size: 15pt;
		text-align: center;
		color: lightblue;
		font-weight: bold;
	}


