@font-face
{
	font-family: "monopoly";
	src: url(../fonts/AauxProRegular.ttf);
}


/* Global */
	body
	{
		font-family: monopoly;
		font-size: 12pt;

		overflow-x :hidden;
		padding: 0;
		margin: 0;
		background-color: #2F4F4F;
	}	

	footer
	{
		background-color: #d5eeff;
		height: 100%;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
	 	 clip-path: polygon(0% 30%, 100% 0, 100% 100%, 0 100%);
	}

	header
	{
		background-color: #d5eeff;
	  	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
	 	 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);	
	}


	#horizontal-line
	{
		align-content: center;
		width: 80%;
		height: 2px;
		background-color: white;
		margin: none;
		padding: none;
		margin-left: 10%;
	}

	.title
	{
		font-size: 3em;
		text-align: center;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	
/*Front Page*/
	.container
	{
		width: 80%;
		overflow: hidden;
		margin: auto;

	}

	.landing-page
	{
		height: 110vh;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "about logo"; 
	}

	.about-me
	{
		grid-area = about;
		text-align: center;
		padding-top: 45%;
	}

	.about-me p
	{
		width: 50%;
		margin: auto;
		font-size: 1.5em;
	}

	.about-me .name
	{
		font-size: 3em;
		margin-bottom: 2%;
	}

	.home-logo
	{
		grid-area = logo;
		padding-top: 35%;
		padding-left: 30%;
	}


/*Projects and Recent Works*/
	#latest-works
	{
		color:white;
	}

	#game-projects
	{
		
	}

	#other-projects
	{
	}

	.project-box-left
	{
		padding-bottom: 10%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "thumbnail info";
	}

	.project-box-left .project-thumbnail
	{
		grid-area: thumbnail;
		
	}

	.project-box-left .project-info
	{
		grid-area: info;
		padding-top: 0%;
		padding-left: 25%;
		width: 80%;
	}


	.project-box-right
	{
		padding-bottom: 10%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "infoR thumbnailR";
	}
	.project-box-right .project-thumbnail
	{
		grid-area: thumbnailR;
	}

	.project-box-right .project-info
	{
		width: 80%;
		grid-area: infoR;
		padding-top: 0%;
		padding-left: 10%;
		text-align: left;
	}

	.project-title
	{
		font-size: 2em;
	}

	.project-subtitle
	{
		font-size: 1.5em;
		padding: 0;
		margin-bottom: 0;
	}

	.project-detail
	{
		padding-left: 5%;
	}

	.project-roles-title
	{
		display:inline;

		font-size: 1.3em;
		padding-right: 1%;
	}
	.project-roles
	{
		font-weight: bold;
		font-size: 1.3em;
		display: inline;
		padding-left: 1%;
		padding-right: 1%;
		font-style: italic;	
	}
	.project-tools
	{
		margin: 3% 0px 0px;
		margin-right: 5px;
		display: inline-block;
		padding: 5px 10px;
		width: auto;
		background: white none repeat scroll 0% 0%;
		color: black;
		border-radius: 5px;
		font-size: 1.2em;
	}

	.project-links
	{
		margin: 3% 0px 0px;
		text-decoration: none;
		display: inline-block;
		width: auto;
		padding: 5px 10px;
		font-weight: bold;
		color: white;
		border-radius: 5px;
		border: 1px solid white;
		transition-duration: 0.4s;
		font-size: 1.2em;
	}

	.project-links:hover
	{	
		background: grey none repeat scroll 0% 0%;
	}

	.project-date
	{
		font-size:1.2em;
		color: lightblue;
		font-weight: bold;
	}
	
/*SKILLS */
	#skills
	{
		color: white;
		margin-bottom: 10%;
	}

	.skill-boxes
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "sbox1 sbox2 sbox3";
	}

	.skill-box1
	{
		grid-area = sbox1;
	}

	.skill-box2
	{
		grid-area = sbox2;
	}

	.skill-box3
	{
		grid-area = sbox3;
	}

	.skill-list
	{
		margin-left: 20%;
		font-size: 1.2em;
	}

	.skill-title
	{
		font-size: 1.6em;
		text-align: center;
	}

	.skill-sub-title
	{
		padding-top: 5%;
		font-size: 1.4em;
		text-align: center;
		color: lightblue;
		font-weight: bold;
	}

/* Contact Info*/
	#contact-info
	{
		color: black;
		padding-top: 7%;
		padding-bottom: 3%;
	}

	.contact-boxes
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas: "cbox1 cbox2 cbox3 cbox4";
	}

	.contact-box1
	{
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(5, 1fr);
		grid-area: cbox1;
		text-align: center;
	}

	.contact-box2
	{
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(5, 1fr);
		grid-area: cbox2;
		text-align: center;
	}

	.contact-box3
	{
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(5, 1fr);
		grid-area: cbox3;
		text-align: center;
	}

	.contact-box4
	{
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(5, 1fr);
		grid-area: cbox4;
		text-align: center;
	}

	.contact-iconbox
	{
		grid-column: 2 / 2;
	}

	.contact-infobox
	{
		padding-top: 15%;
		font-size: 14pt;
	}