@import url("fontawesome-all.min.css");
@font-face
{
	font-family: "monopoly";
	src: url(../fonts/AauxProRegular.ttf);
}


body
{
	font-family: monopoly;
	font-size: 12pt;
	overflow-x :hidden;
	padding: 0;
	margin: 0;
	background-color: #24252a;
	height:auto;
}

header
{
	background-color: rgba(36,37,42,0.8);
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 15px 13%;
	opacity: 1;
}

footer
{
	overflow: hidden;
	height: 50px;
}


/* GLOBAL */
	.container
	{
		min-height: calc(70vh);
		width: 80%;
		overflow: hidden;
		margin: auto;
		margin-top: 0%;
		margin-bottom: 5%;
	}
	.role-button
	{
		margin: 3% 0px 0px;
		margin-right: 0px;
		display: inline-block;
		padding: 5px 10px;
		width: auto;
		background: rgba(0, 136, 169, 1) none repeat scroll 0% 0%;
		color: #24252a;
		border-radius: 5px;
		font-size: 0.6em;
		align-items: center;
	}

	#nav input
	{
		opacity: 0;
		position:absolute;
		top:0;
		left:0;
		padding:0;
	}


/*		NAVIGATION BAR 		*/
	.logo
	{
		cursor: pointer;
		float: left;

	}

	.logo-text
	{
		font-size: 2em;
		font-weight: 1000;
		color: white;
		padding: 0 0;
		margin: 0 0;
		margin-right: auto;
		margin-left: 20px
	}

	.nav-links
	{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.nav-links > li
	{
		margin-top: 7%;
		display: inline-block;
		font-size: 1.1em;
		transition: all 0.3s ease 0s;
	}

	.nav-links > li > a
	{
		border-radius: 50px;
		background-color: rgba(0, 136, 169, 1);
		margin: 0px 10px;
		padding: 9px 25px;
		color: white;
		text-decoration: none;
	}

	.nav-links > li:hover
	{
		opacity: 0.5;
	}

	.hamburger-icons > ul > li
	{
		display: inline-block;
		margin: 0px 10px;
		opacity:0;
	}

	.icons > ul > li
	{
		display: inline-block;
		margin: 0px 10px;
	}

	.fab
	{
		transition: all 0.3s ease 0s;
		color: white;
		opacity: 0.5;
		text-decoration: none;
	}

	.fab:hover
	{
		color: white;
		opacity: 0.9;
	}


/* PAGE HEADER TITLE*/
	.header-title
	{
		margin: auto;
	}

	.header-title > .title
	{
		color: white;
		font-size: 2em;
		font-weight: bold;
		text-align: center;
	}


/*		MAJOR GAMES		*/
	.major-project
	{
		text-align: center;
		padding: none;
		margin: none;
		margin-bottom: 5%;
	}

	.major-project > .title-text
	{
		margin-left: 2%;
		text-align: left;
		color: white;
		font-size: 1.5em;
	}

	.major-project > a > img
	{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 15px;
		width: 96%;
		height: auto;
	}

	.major-project > .title-text > a
	{
		text-decoration: none;
		color: white;
		transition: all 0.3s ease 0s;
	}

	.major-project > .title-text > a:hover
	{
		opacity: 0.4;
	}


/*		MINOR GAMES 	*/
	.minor-project
	{
		text-align: center;
		padding: none;
		margin: none;
		margin-bottom: 5%;
	}

	.minor-project > .two-row-box
	{
		width: 45.5%;
		display: inline-block;
		margin: 2%;
	}

	.minor-project > .two-row-box > .title-text
	{
		text-align: left;
		color: white;
		font-size: 1.5em;
	}

	.minor-project > .two-row-box > img
	{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 15px;
		width: 100%;
		height: auto;
	}

	.minor-project > .two-row-box> .title-text > a
	{
		text-decoration: none;
		color: white;
		transition: all 0.3s ease 0s;
	}

	.minor-project > .two-row-box > .title-text > a:hover
	{
		opacity: 0.4;
	}


/*		OTHER PROJECTS	 	*/
	.other-project > .title
	{
		color: white;
		margin-top: 10%;
		font-size: 2em;
		font-weight: bold;
		text-align: center;
	}

	.other-project
	{
		text-align: center;
		padding: none;
		margin: auto;
	}

	.other-project > .four-row-box
	{
		width: 20%;
		display: inline-block;
		margin: 2%;
	}

	.other-project > .four-row-box > .title-text
	{
		text-align: left;
		color: white;
		font-size: 1.5em;
	}


	.other-project > .four-row-box > img
	{
		border-radius: 15px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width: 100%;
		height: auto;
	}


/* FILTER ITEMS */

	.filter-project
	{
		text-align: center;
	}

	.filter-box
	{
		width: 30%;
		margin: 1%;
		display: none;
	}

	.filter-box > .title-text
	{
		text-align: left;
		color: white;
		font-size: 1.5em;
	}

	.filter-box > a > img
	{
		border-radius: 15px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width: 100%;
		height: auto;
	}

	.filter-box > img
	{
		border-radius: 15px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width: 100%;
		height: auto;
	}


	.filter-box > .title-text > a
	{
		text-decoration: none;
		color: white;
		transition: all 0.3s ease 0s;
	}

	.filter-box > .title-text > a:hover
	{
		opacity: 0.4;
	}

	.show
	{
  		display: inline-block;
	}

	.button
	{
		border: none;
		outline: none;
		padding: 12px 16px;
		background-color: #f1f1f1;
		cursor: pointer;
		border-radius: 10px;
		margin: 5px 5px;
		align-content: center;
		color: #24252a;
		transition: all 0.3s ease 0s;
	}

	.button:hover
	{
		background-color: rgba(0, 136, 169, 1);
		opacity: 0.6;
		color: white;
	}

	.button.active
	{
		background-color: rgba(0, 136, 169, 1);
		color: white;
	}

	#button-container
	{
		text-align: center;
		width: 100%;
		margin: auto;
	}



/* FEATURE PAGE */
	.feature-banner
	{
		padding: none;
		margin: auto;
	}

	.feature-banner > img
	{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 15px;
		width: 100%;
		height: auto;
	}

	.feature-title
	{
		text-align: center;
		font-size: 2.5em;
		font-weight: bold;
		color: white;
		margin: none;
		padding: none;
	}

	.feature-date
	{
		text-align: center;
		font-size: 1.2em;
		color: white;
		opacity: 1;
		margin-bottom: 5%;
		font-style: italic;
	}

	.feature-section
	{
		margin-bottom: 4%;
	}

	.feature-info-title
	{
		font-size: 1.5em;
		margin:0;
		color: white;
	}

	.feature-info-detail
	{
		padding-left: 35px;
		color: white;
		font-size: 1.2em;
		text-align: justify;
	}

	.feature-downloads
	{
		margin-left: 15px;
		color: white;
		padding: 5px 15px;
		background-color: rgba(0, 136, 169, 1);
		border-radius: 45px;
		transition: all 0.3s ease 0s;
		text-decoration: none;
	}

	.feature-downloads:hover
	{
		opacity: 0.5;
	}

	.feature-section > .feature-section-caption
	{
		padding-top: 3%;
		padding-bottom: 2%;
		text-align: center;
		width: 90%;
		margin:auto;

	}
	.feature-section > .feature-section-caption > p
	{
		padding-top: 0%;
		text-align: center;
		margin:auto;
		font-style:italic;

	}

	.feature-section > .feature-section-imgbox
	{
		padding-top: 2%;
		text-align: center;
		width: 90%;
		margin: auto;
	}

	.feature-section img
	{
		padding: none;
		margin: 20px 10px;
		width: 90%;
		height: auto;
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}


	.feature-section iframe
	{
			border-radius: 10px;
			width: 90%;
			height: 43.5vw;
			overflow: hidden;
	}

/* FOOTER  */
	footer
	{
		text-align: center;
		color: white;
		opacity: 1;
	}


	.slideshowcontainer
	{
		width: 80%;
		position: relative;
		margin: auto;
	}

	.slideshow
	{
		display: none;

	}

	.slideshow img
	{
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.prev, .next
	{
		cursor: pointer;
		position: absolute;
		top: 45%;
		width: auto;
		padding: 15px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	}

	.next
	{
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev:hover, .next:hover
	{
		background-color: rgba(0,0,0, 0.8);
	}

	.slideshowrow:after
	{
		content:"";
		display: table;
		clear: both;
	}

	.slideshowcol
	{
		padding: 0.8%;
		float: left;
		width: 15%;
	}

	.slideshowthumb
	{
		opacity: 0.4;
	}
	.slideshowrow img
	{
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.active, .slideshowthumb:hover
	{
		opacity: 1;
	}

@media only screen and (min-width: 0px) and (max-width: 1200px)
{
	.feature-info-detail
	{
		line-height: 1em;
		padding-left: 20px;
		color: white;
		font-size: 1em;
		text-align: justify;
	}

	.feature-section
	{
		margin-bottom: 10%;
	}

	#nav
	{
		display: block;
		position: absolute;
		top: 35px;
		right: 50px;

		z-index: 2;

	 -webkit-user-select: none;
	 user-select: none;
	}

	#nav a
	{
		text-decoration: none;
		transition: color 0.4s ease;

	}

	#nav > input
	{
		display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  cursor: pointer;

	  opacity: 0;
	  z-index: 5;

	  -webkit-touch-callout: none;
	}

	#nav > span
	{
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;

		z-index: 2;

		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
							 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
							 opacity 0.55s ease;
	}

	#nav > span:first-child
	{
		transform-origin: 0% 0%;
	}

	#nav > span:nth--last-child(2)
	{
		transform-origin: 0% 100%;
	}

	#nav > input:checked ~ span
	{
			opacity: 1;
			transform: rotate(45deg) translate(0px, -1px);
  		background: white;
	}
	#nav > input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	#nav > input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	#nav > input:checked ~ .nav-link-holder
	{
	  opacity: 1;
		pointer-events: auto;
	}

	#nav > input ~ .nav-link-holder
	{
	  opacity: 0;
		pointer-events: none;
	}

	.nav-link-holder
	{
		position:absolute;
		top: -40px;
		right:-50px;
		transition: opacity 0.3s ease-in-out;
		height:100vh;
	}

	.nav-links
	{
		width: 200px;
	  margin: 0;
	  padding: 50px;
		padding-top: 100px;
		padding-left: 40px;
		height: 89%;
		background-color: #393a3f;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	}

	#nav li
	{
			width: 100%;
			padding: 10px 0;
			padding-bottom: 30px;
			font-size: 22px;
	}

	.nav-links > li > a
	{
		width: 100%;
	}



	.icons > ul > li
	{
		position:absolute;
		top:0;
		left: 0;
		display: inline-block;
		margin: 0px 10px;
		opacity: 0;
		pointer-events:none;
	}

	.hamburger-icons > ul > li
	{
		display: inline-block;
		margin: 0px 0px;
		opacity: 1;
		position:relative;
	}

	.filter-box
	{
		width: 100%;
	}

	.container
	{
		width:90%;
	}

}
